* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffedda;
  font-family: 'Gentium Plus', serif;
  color: #000;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

.uppercase {
  text-transform: uppercase;
}

.width {
  width: 100%;
}

.absolute {
  position: absolute;
}

.bodyAndTextColor {
  background-color: #333;
  color: #fff;
}

.include {
  text-align: center;
  text-transform: uppercase;
}

.size {
  font-size: 20px;
}

.nav {
  display: block;
  position: fixed;
  background-color: #3db2ff;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav ul {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0;
  -webkit-animation: slide 3s forwards;
          animation: slide 3s forwards;
}

.nav ul li {
  padding: 20px 0;
  list-style: none;
}

.nav ul li a {
  text-decoration: none;
  color: #fff;
}

.nav ul li .effect::after {
  content: '';
  left: 0;
  height: 33px;
  width: 3px;
  margin-left: -15px;
  background-color: #fff;
  position: absolute;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.nav ul li .effect:hover::after {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

@-webkit-keyframes slide {
  from {
    left: 130%;
  }
  to {
    left: 50%;
  }
}

@keyframes slide {
  from {
    left: 130%;
  }
  to {
    left: 50%;
  }
}

.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 10000;
}

nav {
  position: fixed;
  background-color: #fff;
  height: 60px;
  z-index: 1000;
}

nav .logo {
  display: block;
  line-height: 60px;
  font-weight: bold;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

nav .logo span {
  color: #3db2ff;
}

nav .logo i {
  margin-right: 15px;
}

nav .nav-items .bars,
nav .nav-items .nav-item {
  right: 0;
}

nav .nav-items .bars {
  display: block;
}

nav .nav-items .bars button {
  border: none;
  background: none;
  line-height: 60px;
  padding-right: 15px;
  cursor: pointer;
}

nav .nav-items .nav-item {
  display: none;
  line-height: 60px;
  height: 100%;
  width: 40%;
}

nav .nav-items .nav-item ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .nav-items .nav-item ul li {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

nav .nav-items .nav-item ul li a {
  text-decoration: none;
  color: #000;
}

nav .nav-items .nav-item ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  bottom: 11px;
  left: 0;
  background-color: #3db2ff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

nav .nav-items .nav-item ul li a:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

nav .nav-items .nav-item ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header {
  position: relative;
  height: 100vh;
}

header .hero-img {
  background-image: url("../img/beach-g21087271d_640.jpg");
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  height: 100%;
  z-index: 0;
}

header .hero-img .hero-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
}

header .hero-img .hero-text h1 {
  color: #fff;
  font-size: 42px;
}

header .hero-img .hero-text h1 span {
  color: #3db2ff;
}

header .hero-img .hero-text p {
  text-align: center;
  color: #fff;
  font-size: 21px;
}

header .hero-img .hero-shadow {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  z-index: 0;
}

main .aboutus .title {
  padding-top: 20px;
}

main .aboutus .aboutusText p,
main .aboutus .aboutusText .images {
  display: block;
  padding: 20px;
}

main .aboutus .aboutusText .images img {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  border-radius: 10px;
  margin-bottom: 10px;
}

main .aboutus .aboutusText .images img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .offers {
  background-image: url("../img/bora-bora-gd722440de_1920.jpg");
  background-size: cover;
  background-position: center;
}

main .offers .title h1 {
  padding-top: 10px;
}

main .offers .cards {
  width: 100vw;
  margin: 0 auto;
}

main .offers .cards .card {
  position: relative;
  height: 525px;
  background: none;
  border: none;
}

main .offers .cards .card .img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90vw;
  border-radius: 40px;
  overflow: hidden;
}

main .offers .cards .card .img h3,
main .offers .cards .card .img button {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .offers .cards .card .img h3 {
  top: 20px;
  font-size: 30px;
}

main .offers .cards .card .img button {
  display: none;
  -webkit-animation: downUp 1s forwards;
          animation: downUp 1s forwards;
  width: 80%;
  height: 40px;
  background-color: #3db2ff;
  color: #000;
  border-radius: 8px;
  -webkit-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
  cursor: pointer;
}

main .offers .cards .card .img p {
  position: absolute;
  display: none;
  left: 50%;
  top: 27%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  -webkit-animation: rightLeft 1s forwards;
          animation: rightLeft 1s forwards;
}

main .offers .cards .card .img p span {
  color: #ffb830;
  font-weight: bold;
  font-size: 93px;
}

main .offers .cards .card .img button:hover {
  background-color: #ffb830;
}

main .offers .cards .card .img:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a6c1ee));
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

main .offers .cards .card .img:hover button {
  display: block;
}

main .offers .cards .card .img:hover p {
  display: block;
}

main .offers .cards .card .one {
  background-image: url("../img/rome-g0732db8cf_640.jpg");
}

main .offers .cards .card .two {
  background-image: url("../img/eiffel-gc63ac98ce_640.jpg");
}

main .opinions .title {
  padding-top: 10px;
}

main .opinions .opinionsBox {
  padding-top: 50px;
}

main .opinions .opinionsBox .slick-track {
  height: 400px;
  padding-top: 30px;
}

main .opinions .opinionsBox .opinion {
  position: relative;
  border-radius: 8px;
  height: 236px;
  width: 200px;
  margin: 0 30px;
  background-color: #fff;
  -webkit-box-shadow: 8px 8px 21px 1px black;
          box-shadow: 8px 8px 21px 1px black;
}

main .opinions .opinionsBox .opinion .img {
  left: 50px;
  top: 11px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .opinions .opinionsBox .opinion .img img {
  display: block;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .opinions .opinionsBox .opinion .info .quote p {
  right: 10px;
  width: 83%;
  bottom: 14px;
}

main .opinions .opinionsBox .opinion .info .quote strong {
  top: 11px;
  left: 170px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes rightLeft {
  from {
    -webkit-transform: translateX(259px);
            transform: translateX(259px);
  }
  to {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@keyframes rightLeft {
  from {
    -webkit-transform: translateX(259px);
            transform: translateX(259px);
  }
  to {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@-webkit-keyframes downUp {
  from {
    bottom: -60px;
  }
  to {
    bottom: 20px;
  }
}

@keyframes downUp {
  from {
    bottom: -60px;
  }
  to {
    bottom: 20px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 20px;
}

footer .company hr {
  border: 1px solid #3db2ff;
  width: 50%;
  margin: -7px auto 0;
}

footer .company .title span {
  color: #3db2ff;
}

footer .company .info {
  padding-top: 10px;
  text-align: center;
}

footer .clients hr {
  border: 1px solid #3db2ff;
  width: 50%;
  margin: -7px auto 0;
}

footer .clients .info {
  padding-top: 10px;
  text-align: center;
}

footer .socialMedia {
  padding-top: 20px;
}

footer .socialMedia hr {
  border: 1px solid #3db2ff;
  width: 50%;
  margin: -7px auto 0;
}

footer .socialMedia p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

footer .socialMedia p i {
  margin-top: 10px;
  height: 40px;
  width: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
  color: #fff;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

footer .socialMedia p i:hover {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

footer .socialMedia p .facebook-bg {
  background: #3b5998;
}

footer .socialMedia p .linkedin-bg {
  background: #0077b5;
}

footer .socialMedia p .instagram-bg {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.lastWord {
  height: 30px;
}

@media (min-width: 414px) {
  main .opinions .opinionsBox .opinion {
    height: 196px;
  }
}

@media (min-width: 768px) {
  nav .logo {
    font-size: 40px;
  }
  nav .nav-items .bars button i {
    font-size: 40px;
    line-height: 60px;
  }
  header .hero-text h1 {
    font-size: 65px;
  }
  header .hero-text p {
    font-size: 25px;
  }
  main .aboutus .aboutusText p {
    font-size: 25px;
    padding: 55px;
  }
  main .aboutus .aboutusText .images {
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .aboutus .aboutusText .images img {
    width: 40%;
    margin: 15px;
  }
  main .offers .cards {
    margin-top: 30px;
  }
  main .offers .cards .card .img {
    width: 50%;
  }
  main .opinions .opinionsBox .slick-track .opinion {
    height: 270px;
  }
  main .opinions .opinionsBox .quote p {
    font-size: 17px;
  }
  main .opinions .opinionsBox .quote strong {
    left: 238px;
    font-size: 20px;
  }
  footer h1 {
    font-size: 45px;
  }
  footer .company .title {
    font-size: 35px;
  }
  footer .company .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 23px;
    padding: 70px;
  }
  footer .clients .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 20px;
  }
  footer .socialMedia .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 20px;
  }
  footer .lastWord {
    font-size: 30px;
  }
}

@media (min-width: 854px) {
  main .offers .img {
    width: 40%;
  }
}

@media (min-width: 930px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .company,
  footer .clients,
  footer .socialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 30%;
  }
  .lastWord {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  nav .logo {
    position: absolute;
    left: 25%;
  }
  nav .nav-items .bars {
    display: none;
  }
  nav .nav-items .nav-item {
    display: block;
  }
}

@media (min-width: 1024px) {
  main .offers .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  main .offers .cards .card {
    width: 100%;
  }
  main .offers .cards .card .img {
    width: 60%;
  }
  main .opinions .opinionsBox .opinion .info .quote p {
    font-size: 25px;
    padding-bottom: 0;
  }
  main .opinions .opinionsBox .opinion .info .quote strong {
    font-size: 25px;
    left: 200px;
  }
  footer .company .info {
    padding: 47px;
  }
}
/*# sourceMappingURL=style.css.map */