@import './colors';
@import './mixin';
@import './parameters';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	background-color: #ffedda;
	font-family: 'Gentium Plus', serif;
	color: $textColor;
}
html {
	scroll-behavior: smooth;
	scroll-padding-top: 60px;
}
.uppercase {
	text-transform: uppercase;
}
.width {
	width: $full;
}
.absolute {
	position: absolute;
}
.bodyAndTextColor {
	background-color: $darkBackground;
	color: $mainTextColor;
}
.include {
	@include centerBigText;
}
.size {
	font-size: $fontSize;
}
.nav {
	display: block;
	position: fixed;
	background-color: $mainColor;
	height: $full;
	transform: translateX($full);
	z-index: 100;
	transition: 0.5s;

	ul {
		@include center;
		padding: 0;
		animation: slide 3s forwards;
		li {
			padding: $fontSize 0;
			list-style: none;			
			a {
				text-decoration: none;
				color: $mainTextColor;
			}
			.effect::after {
				content: '';
				left: 0;
				height: 33px;
				width: 3px;
				margin-left: -15px;
				background-color: $mainTextColor;
				position: absolute;
				transform: scaleY(0);
				transition: transform 0.3s;
			}
			.effect:hover::after {
				transform: scaleY(1);
			}
		}
		
	}
}
@keyframes slide{
	from{
		left: 130%;
	}
	to{
		left: 50%;
	}
}
.active {
	transform: translateX(0);
	z-index: 10000;
}
// NAV
nav {
	position: fixed;
	background-color: $mainTextColor;
	height: 60px;
	z-index: 1000;
	.logo {
		display: block;
		line-height: 60px;
		font-weight: bold;
		@include left;
		span {
			color: $mainColor;
		}
		i {
			margin-right: 15px;
		}
	}
	.nav-items {
		.bars,
		.nav-item {
			right: 0;
		}
		.bars {
			display: block;
			button {
				border: none;
				background: none;
				line-height: 60px;
				padding-right: 15px;
				cursor: pointer;
			}
		}
		.nav-item {
			display: none;
			line-height: 60px;
			height: $full;
			width: 40%;
			ul {
				list-style: none;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				
				li {
					transition: transform 0.5s;
					a {
						text-decoration: none;
						color: $textColor;
					}
					a::after {
						content: '';
						position: absolute;
						width: $full;
						transform: scaleX(0);
						height: 1px;
						bottom: 11px;
						left: 0;
						background-color: $mainColor;
						transform-origin: bottom right;
						transition: transform 0.25s ease-out;
					}
					a:hover::after {
						transform: scaleX(1);
						transform-origin: bottom left;
					}
				}
				li:hover {
					transform: scale(1.2);
				}
			}
		}
	}
}

// HEADER

header {
	position: relative;
	height: 100vh;
	.hero-img {
		background-image: url('../img/beach-g21087271d_640.jpg');
		background-size: cover;
		background-position: right;
		background-attachment: fixed;
		height: $full;
		z-index: 0;
		.hero-text {
			@include center;
			z-index: 2;
			h1 {
				color: $mainTextColor;
				font-size: 42px;
				span {
					color: $mainColor;
				}
			}
			p {
				text-align: center;
				color: $mainTextColor;
				font-size: 21px;
			}
		}
		.hero-shadow {
			background-color: rgba(0, 0, 0, 0.6);
			height: $full;
			z-index: 0;
		}
	}
}
// MAIN
main {
	.aboutus {
		.title {
			padding-top: $fontSize;
		}
		.aboutusText {
			p,
			.images {
				display: block;
				padding: $fontSize;
			}
			.images {
				img {
					transition: transform 0.5s;
					border-radius: $margin;
					margin-bottom: $margin;
				}
				img:hover {
					transform: scale(1.1);
				}
			}
		}
	}
	.offers {
		background-image: url('../img/bora-bora-gd722440de_1920.jpg');
		background-size: cover;
		background-position: center;
		.title {
			h1 {
				padding-top: $margin;
			}
		}
		.cards {
			width: 100vw;
			margin: 0 auto;
			.card {
				position: relative;
				height: 525px;
				background: none;
				border: none;

				.img {
					background-repeat: no-repeat;
					background-position: center;
					background-size: cover;
					height: 500px;
					@include left;
					width: 90vw;
					border-radius: 40px;
					overflow: hidden;
					h3,
					button {
						@include left;
					}
					h3 {
						top: $fontSize;
						font-size: 30px;
					}
					button {
						display: none;
						animation: downUp 1s forwards;
						width: 80%;
						height: 40px;
						background-color: $mainColor;
						color: $textColor;
						border-radius: 8px;
						transition: background-color 0.5s, color 0.5s;
						cursor: pointer;
					}
					p {
						position: absolute;
						display: none;
						left: 50%;
						top: 27%;
						transform: translate(-50%, -50%);
						font-size: 30px;
						animation: rightLeft 1s forwards;
						span{
							color: #ffb830;
							font-weight: bold;
							font-size: 93px;
						}
					}
					button:hover {
						background-color: #ffb830;
					}
				}
				.img:hover {
					background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
					button {
						display: block;
					}
					p{
						display: block;
					}
				}
				.one {
					background-image: url('../img/rome-g0732db8cf_640.jpg');
				}
				.two {
					background-image: url('../img/eiffel-gc63ac98ce_640.jpg');
				}
			}
		}
	}
	.opinions {
		.title {
			padding-top: $margin;
		}
		.opinionsBox {
			padding-top: 50px;
			.slick-track {
				height: 400px;
				padding-top: 30px;
			}
			.opinion {
				position: relative;
				border-radius: 8px;
				height: 236px;
				width: 200px;
				margin: 0 30px;
				background-color: $mainTextColor;
				box-shadow: 8px 8px 21px 1px black;
				.img {
					left: 50px;
					top: 11px;
					transform: translate(-50%, -50%);
					img {
						display: block;
						border-radius: $half;
						height: 80px;
						width: 80px;
						object-fit: cover;
					}
				}
				.info {
					.quote {
						p {
							right: $margin;
							width: 83%;
							bottom: 14px;
						}
						strong {
							top: 11px;
							left: 170px;
							transform: translateX(-50%);
						}
					}
				}
			}
		}
	}
}
@keyframes rightLeft{
	from{
		transform: translateX(259px);
	}
	to{
		transform: translateX(-100px)
	}
}
@keyframes downUp{
	from{
		bottom: -60px;
	}
	to{
		bottom: 20px
	}
}

footer {
	@include column;
	.company {
		hr {
			border: 1px solid $mainColor;
			width: $half;
			margin: -7px auto 0;
		}
		.title {
			span {
				color: $mainColor;
			}
		}
		.info {
			padding-top: $margin;
			text-align: center;
		}
	}
	.clients {
		hr {
			border: 1px solid $mainColor;
			width: $half;
			margin: -7px auto 0;
		}
		.info {
			padding-top: $margin;
			text-align: center;
		}
	}
	.socialMedia {
		padding-top: $fontSize;
		hr {
			border: 1px solid $mainColor;
			width: $half;
			margin: -7px auto 0;
		}
		p {
			@include column;
			text-align: center;
			i {
				margin-top: $margin;
				height: 40px;
				width: 40px;
				text-align: center;
				border-radius: $half;
				line-height: 40px;
				color: $mainTextColor;
				transition: transform 0.5s;
			}
			i:hover {
				transform: rotateX(360deg);
			}
			.facebook-bg {
				background: #3b5998;
			}
			.linkedin-bg {
				background: #0077b5;
			}
			.instagram-bg {
				background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent $half),
					radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent $half),
					radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent $half),
					radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
					radial-gradient(ellipse farthest-corner at $full 0, #893dc2, transparent 50%),
					radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
					radial-gradient(ellipse farthest-corner at $full $full, #d9317a, transparent),
					linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d $full);
			}
		}
	}
}
.lastWord {
	height: 30px;
}
@media (min-width: 414px){
	main{
		.opinions{
			.opinionsBox{
				.opinion{
					height: 196px;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	nav {
		.logo {
			font-size: 40px;
		}
		.nav-items {
			.bars {
				button {
					i {
						font-size: 40px;
						line-height: 60px;
					}
				}
			}
		}
	}
	header {
		.hero-text {
			h1 {
				font-size: 65px;
			}
			p {
				font-size: 25px;
			}
		}
	}
	main {
		.aboutus {
			.aboutusText {
				p {
					font-size: 25px;
					padding: 55px;
				}
				.images {
					width: 100vw;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					img {
						width: 40%;
						margin: 15px;
					}
				}
			}
		}
		.offers {
			.cards {
				margin-top: 30px;
				.card {
					.img {
						width: 50%;
					}
				}
			}
		}
		.opinions {
			.opinionsBox {
				.slick-track{
					.opinion{
						height: 270px;
					}
				}
				.quote {
					
					p {
						font-size: 17px;
					}
					strong {
						left: 238px;
						font-size: $fontSize;
					}
				}
			}
		}
	}

	footer {
		h1 {
			font-size: 45px;
		}

		.company {
			.title {
				font-size: 35px;
			}
			.info {
				@include footer;
				font-size: 23px;
				padding: 70px;
			}
		}
		.clients {
			.info {
				@include column;
				font-size: $fontSize;
			}
		}
		.socialMedia {
			.info {
				@include footer;
				font-size: $fontSize;
			}
		}
		.lastWord {
			font-size: 30px;
		}
	}
}

@media (min-width: 854px) {
	main {
		.offers {
			.img {
				width: 40%;
			}
		}
	}
}

@media (min-width: 930px) {
	footer {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		.company,
		.clients,
		.socialMedia {
			@include column;
			width: 30%;
		}
	}
	.lastWord {
		font-size: $fontSize;
	}
}

@media (min-width: 992px) {
	nav {
		.logo {
			position: absolute;
			left: 25%;
		}
		.nav-items {
			.bars {
				display: none;
			}
			.nav-item {
				display: block;
			}
		}
	}
}
@media (min-width: 1024px) {
	main {
		.offers {
			.cards {
				display: flex;
				flex-direction: row;
				.card {
					width: $full;
					.img {
						width: 60%;
					}
				}
			}
		}
		.opinions {
			.opinionsBox {
				.opinion {
					.info {
						.quote {
							p {
								font-size: 25px;
								padding-bottom: 0;
							}
							strong {
								font-size: 25px;
								left: 200px;
							}
						}
					}
				}
			}
		}
	}
	footer{
		.company{
			.info{
				padding: 47px;
			}
		}
	}
}
